user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections 768;
}

http {
    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    types_hash_max_size 2048;
    keepalive_timeout 65;
    server_tokens off;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    gzip on;

    # Increase the buffer size from 4k to 16k, otherwise third-party OAuth2/OIDC
    # servers may send large cookie or header values, exceeding the buffer size
    # and resulting in 502 Bad Gateway errors.
    # See: https://github.com/etalab/catalogage-donnees/issues/403
    # See: https://stackoverflow.com/a/7558945/10705285
    proxy_buffer_size 16k;

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}
